.chat-page {
  padding: 10px;
  height: 100%;
  background-color: #fff;
}

.chat-box {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  height: 85px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.chat-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.chat-avatar-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
}

.chat-avatar {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.chat-name {
  font-weight: bold;
  font-size: 18px;
}

.chat-time {
  color: #a4a5a8;
  font-size: 14px;
}

.chat-body {
  height: calc(100vh - 260px);
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
}

.chat-footer {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
  background: #fff;
}

.chat-input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #e8e9e9;
  padding: 10px 20px;
  border-radius: 8px;
}

.chat-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

.chat-icon {
  cursor: pointer;
}
