@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #fc6011;
  --primary-color: #4a4b4d;
  --secondary-color: #636464;
  --tertiary-color: #a4a5a8;
  --link-color: #0054ff;
  --placeholder-color: #e8e9e9;
  --primary-border-color: #a3a3a3a3;
  --secondary-border-color: #e0e0e0a3;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5c5c5c4b;
  }
}

/* SWIPER START */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  font-weight: 700 !important;
  z-index: 98;
}

.swiper-button-next {
  text-shadow: -3px 0px 4px #000;
}

.swiper-button-prev {
  text-shadow: 3px 0px 4px #000;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.big-card-slider .swiper-button-next,
.big-card-slider .swiper-button-prev {
  top: 40%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 40% !important;
  bottom: 10% !important;
}

@media (min-width: 600px) and (max-width: 763px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 37% !important;
    bottom: 10% !important;
  }
}

@media (min-width: 470px) and (max-width: 599px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 35% !important;
    bottom: 6% !important;
  }
}

@media (min-width: 400px) and (max-width: 469px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 32% !important;
    bottom: 6% !important;
  }
}

@media (max-width: 399px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 28% !important;
    bottom: 6% !important;
  }
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fc6011 !important;
  width: 14px !important;
}
/* SWIPER END */

.mapboxgl-canvas {
  width: 100% !important;
}

/* CUSTOM LOGIN WITH GOOGLE BUTTON */
.login-google__button > div {
  height: 55px !important;
  background-color: #dd4938;
  color: white;
}

.login-google__button .nsm7Bb-HzV7m-LgbsSe {
  background-color: inherit;
  color: inherit;
  border: none;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  font-size: 18px;
}

/* Shipper */
.shipper-container {
  display: flex;
  height: 100%;
}

.shipper-container-content {
  flex: 4;
}

/* Admin */
.admin-container {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  height: 100%;
}

.admin-container-content {
  flex: 4;
}
