.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/icons/shipper-bg.png");
  background-size: cover;
}

.reset-password-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Card */
.reset-password-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 450px;
}

/* Input Group */
.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Password Field */
.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  flex: 1;
}

.password-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 10px;
}

.reset-password-container .action{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.reset-password-container .action button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.reset-password-container .action button:first-child{
  background-color: black;
}

.reset-password-container .action button:first-child:hover{
  background-color: rgb(41, 40, 40);
}

.reset-password-container .action button:last-child{
  background-color: var(--main-color);
}

.reset-password-container .action button:last-child:hover{
  background-color: #eb6b2a;
}