.navbar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(218, 220, 224);
}

.navbar-container{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar-icons{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #31473A;
}

.navbar-icons img{
    width: 30px;
}

.top-icon-bag{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    left: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    border: 1px solid;
    padding: 10px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.logout {
    color: red;
    font-weight: bold;
}
