.history-order {
  margin: 20px;
  font-family: "Times history Roman", Times, serif;
}

.history-order-container h1 {
  font-size: 40px;
  font-weight: 800;
}

.history-order-container h3 {
  font-size: 20px;
  font-weight: 600;
}

.history-order-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: none;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}

.history-order-left img {
  width: 300px;
  border: none;
  border-radius: 10px;
}

.history-order-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.history-order-id {
  color: gray;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

.history-order-title h3 {
  margin-top: 10px;
}

.history-order-address-start,
.history-order-address-destination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.history-order-address-start img,
.history-order-address-destination img {
  width: 15px;
}

.history-order-address-start span,
.history-order-address-destination span {
  width: 80px;
}

.history-order-action {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.history-order-action button {
  width: 150px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.history-order-action .detail-order {
  background-color: #0d6efd;
}

.history-order-action .detail-order:hover {
  background-color: #3282fc;
}

.history-order-action .confirm-order {
  background-color: #198754;
}

.history-order-action .confirm-order:hover {
  background-color: #39a573;
}

.history-order-action .deny-order {
  background-color: #dc3545;
}

.history-order-action .deny-order:hover {
  background-color: #dd4e5d;
}

.history-order .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.history-order .pagination button {
  background-color: #007bff; /* Màu xanh dương */
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.history-order .pagination button:disabled {
  background-color: #ccc; /* Màu xám khi bị disable */
  cursor: not-allowed;
}

.history-order .pagination button:hover:not(:disabled) {
  background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
}

.history-order .pagination span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
